#edit-form {
    display: inline-block;    
    justify-content: center;
    align-items: center;
    border-style: groove;
    background-color: lightblue;
    width: 500px;
}


#save-button {
    background-color: silver;
    color: darkblue;
}