#add-comment-form {
    display: inline-block;    
    justify-content: center;
    align-items: center;
    border-style: groove;
    background-color: white;
    width: 500px;
}


#add-comment-button {
    background-color: white;
    color: rgb(10, 10, 10);
}