h1 {
    color: black;
}

.TechnologyListPage-grid {
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;;
}

.card {
    background-color: darkblue;
    margin: 10px;
    padding: 30px;
}