.App {
    text-align: center;
}

.App-header {
    background-color: lightblue;
    height: 75px;
    margin-bottom: 30px;
    color: black;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

nav {
    background-color: silver;
    height: 40px;
    font-size: 20px;
}


